/*------------------------------------------------------------------
Project:	Mentor - Mentor & Coach HTML Template
Version:	1.0
Last change:	24.10.2016
Assigned to:	ThemeStarz

[Table of contents]

1. Header
2. Hero Slider
3. Elements Styling
4. Universal classes
5. Classes
6. Forms
7. Responsive

[Color codes]

Default: #4611a7;
Color grey dark: #1f1f1f;
Color grey light: #fafafa;

[Typography]

Body copy:		'Lato', sans-serif; 14px;
Headers:		'Lato', sans-serif;

-------------------------------------------------------------------*/
@import "vendor/vendor";
@import "../../../node_modules/compass-mixins/lib/compass";

@import "helpers/mixin";
@import "helpers/variables";
@import "helpers/header";
//@import 'helpers/hero-slider';
@import "helpers/elements";
@import "helpers/universal-classes";
@import "helpers/classes";
@import "helpers/forms";
@import "helpers/responsive";