.um {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: #666;
  font-size: 15px;
  margin-bottom: 30px !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  opacity: 0;
}

.um-s1, .um-s2 {
  display: none;
}

.um {
  *, :after, :before {
    box-sizing: content-box;
  }
}

.um-account-side li a, .um-cover a, .um-field-value a, .um-header a, .um-member-less a, .um-member-more a, .um-member-name a, .um-member-photo a, .um-members a {
  border-bottom: 0 !important;
}

.um-members-pagi {
  a, span {
    border-bottom: 0 !important;
  }
}

.um a:focus, .um-modal a:focus {
  outline: 0 !important;
}

.um {
  a {
    .image-overlay {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
      position: static !important;
    }

    &:hover .image-overlay {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
      position: static !important;

      * {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        position: static !important;
      }
    }
  }

  &.um-in-admin {
    padding-top: 0;

    .um-tip {
      display: none !important;
    }
  }

  input, select, textarea {
    font-size: 15px;
  }
}

p.um-notice {
  font-size: 15px;
}

.um * {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.um-left {
  float: left;
}

.um-right {
  float: right;
}

.um-clear {
  clear: both;
}

.um-center {
  text-align: center;

  .um-button {
    display: inline-block !important;
    width: auto !important;
    min-width: 250px !important;
  }
}

.um-half {
  width: 48%;
}

.um-field-half {
  width: 48%;
  float: left;

  &.right {
    float: right;
  }
}

.um-field-tri {
  width: 30%;
  float: left;
  margin-right: 3%;
}

.um img {
  box-shadow: none !important;
}

.um-col {
  padding-bottom: 20px;
}

.um-col-alt {
  margin: 0 0 5px;
}

.um-col-alt-s {
  padding-top: 10px;
}

.um-col-alt-b {
  padding-top: 20px;
}

.um-col-121 {
  float: left;
  width: 48%;
}

.um-col-122 {
  float: right;
  width: 48%;
}

.um-col-131 {
  float: left;
  width: 30%;
}

.um-col-132 {
  margin: 0 5%;
  float: left;
  width: 30%;
}

.um-col-133 {
  float: left;
  width: 30%;
}

.um-raty i {
  font-size: 26px;
}

.um-field-half .um-raty i, .um-field-tri .um-raty i {
  font-size: 21px;
}

.um-button i {
  font-size: 22px;
  width: 22px;
  height: 12px !important;
  display: inline-block;
  line-height: 12px !important;
  vertical-align: middle !important;
  position: relative;
  top: -6px;
  margin-right: 8px;
}

.um-row-heading {
  padding: 5px 0;
  font-size: 16px;

  i {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0 12px 0 0;
    display: inline-block;
    width: 30px;
    text-align: center;

    &:before {
      vertical-align: middle !important;
    }
  }
}

p.um-notice {
  width: auto;
  color: #fff;
  box-sizing: border-box;
  padding: 12px !important;
  margin: 12px 0 0 !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;

  i {
    position: absolute;
    right: 14px;
    font-size: 36px;
    cursor: pointer;
    top: 7px;
    display: block;
    height: 30px;
    line-height: 30px;
  }

  &.success {
    background: #7acf58;
  }
}

.um-field-error {
  background: #c74a4a;
}

p.um-notice {
  &.err {
    background: #c74a4a;
  }

  &.warning {
    background: #f9f9d1;
    color: #666;
    border: 1px solid #efe4a2;
    padding: 8px 15px !important;
  }
}

.um-field-error {
  width: auto;
  max-width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  padding: 12px;
  font-size: 14px;
  line-height: 20px !important;
  margin: 12px 0 0;

  a {
    color: #fff !important;
    text-decoration: underline !important;
  }
}

.um-field-arrow {
  top: -17px;
  left: 10px;
  position: absolute;
  z-index: 900;
  color: #c74a4a;
  font-size: 28px;
  line-height: 1em !important;
}

.um-error-block {
  width: auto;
  max-width: 100%;
  background: #c74a4a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  padding: 12px;
  font-size: 14px;
  line-height: 1em !important;
  margin: 12px 0 0;
}

.um-tip {
  margin: 0 0 0 8px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 3px;

  i {
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    display: block;
    position: relative;
  }
}

.um-tip-text {
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: #999;
}

.um-form {
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 !important;
    padding: 0 !important;
  }
}

.um-field {
  position: relative;
  padding: 15px 0 0;
}

.um-field-b, .um-field-c {
  padding-top: 0 !important;
}

.select2.select2-container .select2-selection .select2-selection__arrow b[role=presentation], .um-field.um-is-conditional {
  display: none;
}

.um-field-label {
  display: block;
  margin: 0 0 8px;

  .um-field-label-icon {
    float: left;
    margin: 0 8px 0 0;
    height: 22px;
    line-height: 18px;
    display: inline-block;
    width: 24px;
    text-align: center;

    i {
      font-size: 22px;
      position: relative;
      top: 1px;
    }
  }

  label {
    font-size: 15px !important;
    line-height: 22px !important;
    font-weight: 600;
  }
}

.um-field-area {
  position: relative;
  word-wrap: break-word;
}

.um-field-value p {
  margin: 0 0 6px !important;
  padding: 0;
}

.um-field-block {
  color: #777;
  font-size: 17px;
}

.um-field-spacing {
  width: 100%;
}

.um-field-divider {
  width: 100%;
  margin: 0 0 12px;
  height: 24px;
  position: relative;
}

.um-field-divider-text {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -24px;
  left: 0;
  font-size: 16px;
  padding: 10px 0;

  span {
    background: #fff;
    color: #555;
    display: inline-block;
    padding: 0 15px;
  }
}

.um-field-icon {
  position: absolute;
  cursor: default;
  text-align: center !important;
  top: 2px;
  left: 0;
  width: 44px;
  font-size: 22px;
  line-height: 1.7em;
}

.um-form {
  input {
    &[type=tel], &[type=text] {
      padding: 0 12px !important;
      width: 100%;
      height: 40px !important;
    }

    &[type=number], &[type=password], &[type=tel], &[type=text] {
      display: block !important;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      cursor: text !important;
      font-size: 15px !important;
      box-sizing: border-box !important;
      box-shadow: none !important;
      margin: 0 !important;
      position: static;
      outline: none !important;
    }

    &[type=password] {
      padding: 0 12px !important;
      width: 100%;
      height: 40px !important;
    }

    &[type=number] {
      width: auto;
      padding: 0 0 0 5px !important;
      height: 30px !important;

      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }
    }

    &[type=password]:focus, &[type=tel]:focus, &[type=text]:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }

  textarea:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  input {
    &[type=password].um-iconed, &[type=tel].um-iconed, &[type=text].um-iconed {
      padding-left: 44px !important;
    }

    &[type=password].um-error, &[type=tel].um-error, &[type=text].um-error {
      border-color: #c74a4a !important;
    }
  }

  textarea {
    width: 100%;
    padding: 8px 12px !important;
    display: block;
    font-size: 15px !important;
    line-height: 22px !important;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    min-height: 80px !important;
    box-shadow: none;
    outline: none !important;
  }

  .wp-editor-container {
    border: 1px solid #ddd;

    textarea {
      background: #ddd !important;
      color: #222 !important;
      border-radius: 0;
    }
  }
}

.um-field-c .um-field-checkbox {
  margin: 0 !important;
  position: relative;
  top: -14px;
}

.um-field-checkbox, .um-field-radio {
  display: block;
  margin: 8px 0;
  position: relative;
  cursor: pointer !important;
}

.um-field-checkbox:hover i, .um-field-radio:hover i {
  color: #666;
}

.um-field-checkbox input, .um-field-radio input {
  opacity: 0 !important;
  display: inline !important;
  width: 0 !important;
  float: left;
}

.um-field-checkbox-state, .um-field-radio-state {
  position: absolute;
  top: 0;
  left: 1px;
  width: 24px;
  height: 24px;
}

.um-field-checkbox-state i, .um-field-radio-state i {
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  color: #aaa;
  transition: all 0.2s linear;
}

.um-field-checkbox-option, .um-field-radio-option {
  margin: 0 0 0 36px;
  line-height: 24px;
  color: #888 !important;
  display: block;
}

.um-field-group {
  margin-top: 20px;
}

.um-field-group-head {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 20px;
  transition: .25s;
  box-sizing: border-box;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  border-top: 1px solid rgba(0, 0, 0, 0) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;

  i {
    font-size: 20px;
    margin: 0 8px 0 0;

    &:before {
      vertical-align: middle !important;
    }
  }
}

.um-field-group-body {
  display: none;
  margin: 15px 0 0;
  padding: 15px 20px 5px;
  background: #f9f9f9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;
  width: 100%;

  div.um-field {
    padding: 0 0 15px;
  }
}

.um-field-group-cancel {
  font-size: 18px;
  position: absolute;
  z-index: 800;
  right: 8px;
  top: 8px;
  color: #ccc !important;
  text-decoration: none !important;

  &:hover {
    color: #777 !important;
  }
}

.um {
  div.disabled {
    opacity: 0.6 !important;
    cursor: no-drop !important;
  }

  input {
    &[type=number]:disabled, &[type=submit]:disabled, &[type=text]:disabled {
      opacity: 0.6 !important;
      cursor: no-drop !important;
    }
  }
}

.um-disabled {
  opacity: 0.6 !important;
  cursor: no-drop !important;
}

input[type=submit].um-button {
  vertical-align: middle !important;
  height: auto !important;
  font-size: 15px;
  cursor: pointer !important;
  width: 100%;
  box-shadow: none;
  text-shadow: none;
  font-family: inherit;
  outline: none !important;
  margin: 0;
  opacity: 1;
  -webkit-appearance: none;

  &:focus {
    vertical-align: middle !important;
    height: auto !important;
    font-size: 15px;
    cursor: pointer !important;
    width: 100%;
    box-shadow: none;
    text-shadow: none;
    font-family: inherit;
    outline: none !important;
    margin: 0;
    opacity: 1;
    -webkit-appearance: none;
  }

  &:hover {
    opacity: 1;
  }
}

.um-button, a.um-link-alt {
  text-decoration: none !important;
  text-align: center;
}

.um-button {
  font-size: 15px;
  border: none !important;
  width: 100%;
  line-height: 1em !important;
  padding: 16px 20px !important;
  text-transform: none !important;
  font-weight: 400 !important;
  overflow: hidden;
  position: relative;
  transition: .25s;
  box-sizing: border-box;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  border-top: 1px solid rgba(0, 0, 0, 0) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
  opacity: 1;
  display: block;

  &.um-btn-auto-width {
    width: auto;
    display: inline-block;
    padding: 14px 20px !important;
    min-width: 200px;
    max-width: 450px;
  }
}

a.um-link-alt {
  line-height: 22px;
  color: #888 !important;
  display: block !important;
  font-weight: 400;
  border-bottom: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.um-dropdown {
  position: absolute;
  height: auto;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
  display: none;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

  li, ul {
    list-style-type: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  li {
    a {
      display: block;
      padding: 8px 12px;
      color: #666;
      font-size: 14px;
      line-height: 18px;
    }

    &:last-child a {
      border-top: 1px solid #e5e5e5;
      padding: 12px;
    }
  }
}

.um-dropdown-b {
  position: relative;
}

.um-dropdown-arr {
  position: absolute;
  font-size: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 15;
  color: #eee;

  * {
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    vertical-align: bottom !important;
    overflow: hidden !important;
    line-height: 24px !important;
  }
}

div.um-photo {
  box-sizing: border-box;
  max-width: 100%;

  a {
    box-sizing: border-box;
    max-width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  text-align: center;
  margin: 20px auto 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  a {
    border: 1px solid #e5e5e5;
    padding: 5px;
    display: inline-block;
    box-shadow: 0 1px 1px #eee;
    margin: 0 auto;
  }

  img {
    max-height: 300px;
    max-width: 100%;
  }
}

span.um-req {
  margin: 0 0 0 8px;
  font-size: 14px;
  display: inline-block;
}

small.um-max-filesize {
  display: block;
  color: #999;
  padding-top: 5px;

  span {
    font-size: 12px;
  }
}

.um-form .um-field .um-field-area input {
  &.um-form-field {
    &.um-validate-not-matched, &.um-validate-username-exists {
      border-color: #db2929 !important;

      &:focus {
        border-color: #db2929 !important;
      }
    }
  }

  &.um-searching-username {
    background-image: url(../img/loading.gif);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }
}

.um-search-area {
  position: relative;
  max-width: 300px;

  .um-search-field {
    width: 100%;
  }

  .um-search-icon {
    position: absolute;
    top: 7px;
    right: 10px;
  }
}

.select2-container.select2-container--open {
  z-index: 9999999;
}

.select2.select2-container .select2-selection {
  display: block !important;
  height: 40px;
  padding: 0 0 0 12px !important;
  overflow: hidden !important;
  position: relative !important;
  white-space: nowrap !important;
  line-height: 35px !important;
  color: #666 !important;
  font-size: 15px !important;
  text-align: left !important;
  text-decoration: none !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
  background-clip: padding-box !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0 !important;
  background-color: #fff !important;
  border: 2px solid #ddd !important;

  .select2-selection__arrow {
    &:before {
      content: "Ôèê" !important;
      font-size: 27px !important;
      font-family: "Ionicons" !important;
      width: 100% !important;
      display: block;
      height: 100%;
      line-height: 35px;
      color: #aaa;
    }

    display: inline-block !important;
    width: 34px !important;
    height: 100% !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    -moz-border-radius: 0 2px 2px 0 !important;
    -webkit-border-radius: 0 2px 2px 0 !important;
    border-radius: 0 2px 2px 0 !important;
    background-clip: padding-box !important;
    text-align: center !important;
    background: 0 0 !important;
    border-left: 0 !important;
  }
}

.select2-container.select2-container--open .select2-dropdown {
  border: 2px solid #ddd !important;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
  font-size: 15px;
  margin: 5px !important;
  color: #666 !important;
  padding: 3px 7px 4px !important;
  cursor: pointer;
  min-height: 1em !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 37px;
}

.select2-results li.select2-results__option.select2-results__option--highlighted {
  background: 0 0 !important;
  background: #f4f4f4 !important;
  color: #666 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-selection__clear {
  right: 10px;
  font-size: 30px;
  color: #aaa !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 20px;
  font-size: 13px;
}

.select2.select2-container .select2-selection.select2-selection--multiple {
  height: auto !important;
}

.select2-container--default .select2-selection--multiple {
  .select2-selection__clear {
    cursor: pointer;
    float: right;
    top: -6px;
    margin-right: -9px;
    font-size: 15px;
    position: absolute;
  }

  .select2-selection__choice {
    padding: 3px 3px 3px 5px;
  }
}

.select2-container .select2-search--inline {
  line-height: 38px;
}
