@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/raty.eot);
  src: url(../fonts/raty.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/raty.svg#raty) format("svg");
  src: url(../fonts/raty.ttf) format("truetype");
  src: url(../fonts/raty.woff) format("woff");
}

.cancel-off-png, .cancel-on-png {
  color: #ccc;
}

.cancel-off-png, .cancel-on-png, .star-on-png {
  font-family: "raty";
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.2em;
}

.star-off-png {
  color: #ccc;
}

.star-half-png, .star-off-png {
  font-family: "raty";
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.2em;
}

.star-half-png, .star-on-png {
  color: #ffbe32;
}

.cancel-on-png:before {
  content: "";
}

.cancel-off-png:before {
  content: "";
}

.star-on-png:before {
  content: "";
}

.star-off-png:before {
  content: "";
}

.star-half-png:before {
  content: "";
}
