.item.infobox(data-id='')
	a(href='')
		.description
		.image(style='background-image: url(../img/items/default.png)')
	.controls-more
		ul
			li
				a(href='#') Add to favorites
			li
				a(href='#') Add to watchlist
