.modal-dialog.width-350px(role='document')
	.modal-content
		.modal-header
			button.close(type='button' data-dismiss='modal' aria-label='Close')
				span(aria-hidden='true') ×
			.section-title
				h2 Reset Password
				p Enter your sign in email where we will send you new generated password.
		.modal-body
			form.form.inputs-underline
				.form-group
					label(for='email') Email
					input#email.form-control(type='email' name='email' placeholder='Your email')
				// end form-group
				.form-group.center
					button.btn.btn-primary.width-100(type='submit') Send me new password
				// end form-group
			// end form
		// end modal-body
	// end modal-content