.btn {
  @include border-radius(0px);
  @include shadow;
  @include transform(translateY(0px));
  @include transform-style(preserve-3d);
  border-style: solid;
  border-width: 2px;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  &:active, &:active:hover, &:focus {
    @include box-shadow(none);
    outline: none !important;
    }
  &:hover {
    @include shadow;
    }
  &:active {
    @include transform(translateY(1px));
    }
  &.btn-primary {
    background-color: $color-black;
    border-color: $color-black;
    color: #ffffff;
    &:hover, &:active, &:active:hover, &:focus {
      background-color: darken($color-black, 8%);
      border-color: darken($color-black, 8%);
      }
    &.btn-framed {
      @include box-shadow(none);
      background-color: transparent;
      color: $color-default;
      &:hover, &:active, &:active:hover, &:focus {
        background-color: transparent;
        border-color: darken($color-default, 8%);
        }
      &.btn-light-frame {
        border-color: rgba(#000, .2);
        &:hover, &:active, &:active:hover, &:focus {
          background-color: transparent;
          border-color: rgba(#000, .3);
          }
        }
      }
    }
  &.btn-default {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
    &:hover, &:active, &:active:hover, &:focus {
      background-color: #ffffff;
      border-color: #ffffff;
      }
    &.btn-framed {
      @include box-shadow(none);
      background-color: transparent;
      border-color: #ffffff;
      color: #ffffff;
      &:hover, &:active, &:active:hover, &:focus {
        background-color: rgba(#fff, .1);
        }
      &.btn-light-frame {
        border-color: rgba(#fff, .4);
        &:hover, &:active, &:active:hover, &:focus {
          background-color: transparent;
          border-color: rgba(#fff, .6);
          }
        }
      }
    }
  &.icon {
    i {
      margin-left: 5px;
      margin-right: 5px;
      }
    }
  &.btn-rounded {
    @include border-radius(30px);
    }
  &.arrow {
    padding-right: 30px;
    &:after {
      @include elegant-font;
      @include opacity(.6);
      bottom: 0;
      content: "$";
      font-size: 14px;
      height: 14px;
      margin: auto;
      position: absolute;
      right: 10px;
      top: 0;
      }
    }
  &.roll-effect {
    padding-bottom: 4px;
    }
  &.btn-small {
    padding: 3px 8px;
    }
  &.btn-xs {
    font-size: 10px;
    padding: 2px 7px;
    }
  &[disabled]{
    @include opacity(.5);
    }
  }