@import "../variables";
@import "../mixin";

#{$all-text-inputs} {
  @include box-shadow(0px 0px 0px 2px rgba($black, .1), inset 1px 0 5px rgba($black, .03));
  @include border-radius(0);
  @include transition(.3s);
  @include transform-style(preserve-3d);
  background-color: $color-white;
  border: none;
  font-size: 14px;
  font-weight: 400;
  height: inherit;
  outline: none !important;
  padding: 12px;
  width: 100%;
  -webkit-appearance: none;
  @include transform-style(preserve-3d);
  &:active,
  &:focus {
    @include box-shadow(0px 0px 0px 2px rgba($black, .2), inset 1px 0 5px rgba($black, .0));
    }
  &:hover {
    @include box-shadow(0px 0px 0px 2px rgba($black, .2), inset 1px 0 5px rgba($black, .0));
    }
  &.input-dark {
    background-color: rgba($black, .3);
    color: $color-white;
    }
  }

input::-webkit-calendar-picker-indicator {
  display: none;
  }

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  line-height: inherit;
  }

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
  }

.form-control {
  background-color: transparent;
  height: auto;
  }

.icheckbox, .iradio {
  @include box-shadow(inset 0px 0px 0px 2px #e8e8e8);
  background-color: $color-white;
  cursor: pointer;
  display: inline-block;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  position: relative;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 20px;
  &:after {
    @include transition(.3s);
    @include opacity(0);
    @include font-awesome;
    color: $color-grey-dark;
    content: "\f00c";
    font-size: 10px;
    left: 5.5px;
    line-height: 20px;
    position: absolute;
    }
  &.checked {
    &:after {
      @include opacity(1);
      }
    }
  }

.hero-section {
  .form {
    &.vertical {
      ::-webkit-input-placeholder {
        color: rgba($color-white, 1);
        }
      :-moz-placeholder {
        color: rgba($color-white, 1);
        }
      ::-moz-placeholder {
        color: rgba($color-white, 1);
        }
      :-ms-input-placeholder {
        color: rgba($color-white, 1);
        }
      .btn[type=submit] {
        margin-top: 15px;
        width: inherit;
        }
      &.search-form {
        .row,
        .container {
          height: 0;
          }
        }
      }
    }

  #{$all-text-inputs} {
    @include border-radius(0);
    @include box-shadow(none);
    @include box-shadow(inset 0px 0px 6px 3px rgba($black, .05));
    @include transit;
    background-color: $color-default;
    border: none;
    border-bottom: 1px solid rgba($color-white, .2);
    color: $color-white;
    -webkit-appearance: none;
    &:active, &:focus, &:hover {
      background-color: darken($color-default, 5%);
      border-bottom: 1px solid rgba($color-white, .2);
      }
    }

  .form-control {
    height: auto;
    }
  .input-group {
    margin-bottom: 15px;
    }
  form {
    @include shadow;
    @include transform-style(preserve-3d);
    }
  &.has-map {
    .btn[type=submit] {
      @include shadow;
      background-color: darken($color-default, 10%);
      border: none;
      border-bottom: none;
      font-size: 14px;
      margin-top: 15px;
      outline: none ! important;
      padding: 12px 30px;
      position: relative;
      text-transform: none;
      &:active {
        top: 0;
        }
      &:before {
        border-color: transparent transparent darken($color-default, 10%) transparent;
        border-style: solid;
        border-width: 0 0 9px 9px;
        content: "";
        height: 0;
        position: absolute;;
        right: 0px;
        top: -9px;
        width: 0;
        }
      i {
        margin-left: 10px;
        }
      }
    .search-form {
      height: 0;
      position: absolute;
      width: 100%;
      z-index: 20;
      &.show {
        form {
          @include opacity(1);
          }
        }
      form {
        @include transit;
        @include opacity(0);
        }
      }
    .form {
      &.horizontal {
        form {
          padding: 20px 25px 5px 25px;
          }
        }
      }
    }
  &.has-background {
    .form {
      .input-group-btn {
        .btn[type="submit"] {
          @include box-shadow(none);
          margin-top: 0;
          padding: 11px 15px 12px 15px;
          }
        }
      &.horizontal {
        form {
          @include border-radius(5px);
          background-color: rgba($color-default, .8);
          padding: 18px;
          padding-bottom: 3px;
          }
        }

      &.vertical {

        .row > div[class*='col-'] {
          @include border-radius(5px);
          background-color: rgba($color-default, .8);
          padding-top: 15px;
          padding-bottom: 15px;
          }
        }
      }
    }
  }

.horizontal-input-title {
  display: table;
  height: 46px;
  * {
    display: table-cell;
    vertical-align: middle;
    }
  }

.form {
  position: relative;

  &.vertical {
    .form-group {
      margin-bottom: 0;
      }
    }
  &.horizontal {
    form {
      @include shadow-big;
      background-color: $color-default;
      display: table;
      @include size(100%);
      ::-webkit-input-placeholder {
        color: rgba($black, .5);
        }
      :-moz-placeholder {
        color: rgba($black, .5);
        }
      ::-moz-placeholder {
        color: rgba($black, .5);
        }
      :-ms-input-placeholder {
        color: rgba($black, .5);
        }
      }
    .row {
      > [class^="col-"], > [class*=" col-"] {
        padding-left: 10px;
        padding-right: 10px;
        }
      }
    .row, .container {
      height: inherit;
      }
    #{$all-text-inputs} {
      @include border-radius(0);
      @include box-shadow(none);
      background-color: $color-white;
      border-bottom: none;
      color: inherit;
      &:active, &:focus, &:hover {
        background-color: $color-grey-light;
        border-bottom: none;
        }
      }

    .btn[type=submit] {
      margin-top: 0;
      text-align: center;
      width: 100%;
      &:before {
        display: none;
        }
      i {
        margin-left: -5px;
        }
      }
    &.position-top {
      top: 40px;
      }

    &.position-bottom {
      bottom: 0;
      form {
        @include transform(translateY(-100%));
        bottom: 40px;
        position: relative;
        }
      }
    }
  .checkboxes {
    margin-bottom: 0;
    }
  &.has-padding {
    padding-bottom: 30px;
    padding-top: 40px;
    }
  &.no-background {
    @include box-shadow(none);
    background-color: transparent !important;
    form {
      @include box-shadow(none);
      background-color: transparent !important;
      }
    }

  label {
    @include opacity(.8);
    font-size: 13px;
    margin-bottom: 8px;
    text-transform: none;
    &.no-margin {
      @include opacity(1);
      margin-bottom: 0;
      }
    }

  h3 {
    margin-bottom: 10px;
    }

  .btn[type=submit] {
    @include shadow;
    }

  &.inputs-dark {
    form {
      ::-webkit-input-placeholder {
        color: rgba($color-white, .8);
        }
      :-moz-placeholder {
        color: rgba($color-white, .8);
        }
      ::-moz-placeholder {
        color: rgba($color-white, .8);
        }
      :-ms-input-placeholder {
        color: rgba($color-white, .8);
        }
      }
    #{$all-text-inputs} {
      background-color: darken($color-default, 8%);
      color: $color-white;
      &:active, &:focus, &:hover {
        background-color: darken($color-default, 12%);
        border-bottom: none;
        }
      }

    .btn[type=submit] {
      background-color: darken($color-default, 15%);
      }
    .checkboxes {
      color: $color-white;
      }
    .icheckbox, .iradio {
      @include box-shadow(inset 0px 0px 0px 2px darken($color-default, 8%));
      background-color: darken($color-default, 8%);
      &:after {
        color: $color-white;
        }
      }
    }

  .btn[type=submit] {
    margin-top: -2px;
    padding: 13px;
    }
  }

form {
  &.submitted {
    .status {
      @include scale(1);
      }
    .form-group, .input-group {
      pointer-events: none;
      }
    }
  .status {
    @include scale(.1);
    @include transit;
    position: absolute;
    right: -20px;
    top: -20px;
    .status-icon {
      @include border-radius(50%);
      @include size(40px);
      @include transit;
      @include shadow-big;
      background-color: #808080;
      color: $color-white;
      line-height: 40px;
      text-align: center;

      &.valid {
        background-color: #50aa8d;
        }
      &.invalid {
        background-color: #e45544;
        }
      }

    i {
      font-size: 18px;
      }
    }
  }

.form,
.input-group {
  &.inputs-underline {
    label:not(.no-margin) {
      @include opacity(.7);
      bottom: -5px;
      font-size: 10px;
      font-weight: 800;
      margin-bottom: 0;
      position: relative;
      text-transform: uppercase;
      }

    #{$all-text-inputs} {
      @include box-shadow(none);
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid rgba($black, .08);
      padding-left: 0;
      &:active, &:focus {
        @include box-shadow(none);
        border-bottom: 2px solid rgba($black, .15);
        padding-left: 12px;
        }
      &:hover {
        @include box-shadow(none);
        border-bottom: 2px solid rgba($black, .1);
        }
      }
    .input-group {
      .btn {
        @include padding(8px 12px 9px 12px);
        background-color: transparent;
        border-bottom: 2px solid rgba($black, .08);
        }
      }
    .input-group-btn {
      .btn {
        @include box-shadow(none);
        @include padding(14px 12px 13px 12px);
        }
      }
    ::-webkit-input-placeholder {
      color: rgba($black, .3);
      }
    :-moz-placeholder {
      color: rgba($black, .3);
      }
    ::-moz-placeholder {
      color: rgba($black, .3);
      }
    :-ms-input-placeholder {
      color: rgba($black, .3);
      }
    }
  }

.checkboxes {
  li {
    display: inline-block;
    margin-right: 20px;
    }
  }

.single-file-input {
  font-size: 12px;
  margin-top: 6px;
  overflow: hidden;
  padding: 3px 0;
  position: relative;
  text-align: center;
  input[type="file"] {
    cursor: pointer;
    outline: none;
    padding-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 1;
    }
  div {
    i {
      @include opacity(.5);
      margin-left: 5px;
      }
    }
  }