.side-nav {

  backface-visibility: hidden;
  background-color: #fff;
  color: #fff;
  height: 100%;
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding-bottom: 60px;
  position: fixed;
  top: 0;
  transform: translateX(-105%);
  width: 240px;
  will-change: transform;
  z-index: 999;
  @extend .z-depth-1;

  &.fixed {
    left: 0;
    position: fixed;
    transform: translateX(0);

    &.right-aligned {
      left: auto;
      right: 0;
      }
    }

  &.right-aligned {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  .collapsible {
    margin: 0;

    > li {
      padding-left: 1rem;
      padding-right: 1rem;
      @include border-radius (2px);
    }

    a {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 300;
      height: 45px;
      line-height: 45px;
      margin-bottom: 5px;

      &.active {
        @include border-radius (2px);
      }

      &:hover {
        @include border-radius (2px);
      }
    }

    .fa {
      font-size: 1.2rem;
      margin-right: 13px;
    }
  }

  .collapsible-body a {
    height: 45px;
    line-height: 45px;
    padding-left: 30px;
  }

  a {
    display: block;
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
  }
  // SideNav logo
  .logo-wrapper {
    height: 140px;

    a {
      height: 140px;
      padding: 0;
      width: 240px;
    }

    img {
      padding: 20% 50px;
      }
  }

  @media (max-height: 910px) {
    .logo-wrapper {
      height: 80px;

      a {
        height: 80px;
      }

      img {
        padding: 7% 50px;
        }
    }
  }
  // About
  .about {
    border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
    padding: 1rem;

    p {
      margin-bottom: 0;
      text-align: center;
    }
  }
  //Social
  .social {
    border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    a {
      margin: 0;
      padding: 0 0.6rem;
      }
  }
  //Search form
  .search-form {
    padding: 0;

    ::placeholder {
      color: #fff !important;
    }

    input[type=text] {
      border-bottom: 1px solid #fff;
      font-weight: 300;
      padding-left: 30px;
    }

    .form-control {
      color: #fff;
    }
  }

  .sn-avatar-wrapper {
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 10%;

    img {
      margin: 0;
      max-width: 90px;
      padding: 0;
      @include border-radius(5rem);
    }
  }

  @media only screen and (max-height: 910px) {
    .sn-avatar-wrapper {
      padding-left: 40%;
      padding-right: 40%;
      padding-top: 3%;

      img {
        max-width: 50px;
      }
    }
  }

  .sn-ad-avatar-wrapper {
    height: auto;
    margin-bottom: 0;

    img {
      float: left;
      max-width: 60px;
      padding: 20px 10px;
    }

    p {
      font-size: 15px;
      margin: 0;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }

  .fa-angle-down {
    &.rotate-icon {
      position: absolute;
      right: 0;
      top: 13px;
    }
  }

  .double-navbar .bc-min {
    padding: 5px 10px;

    .button-collapse {
      padding-left: 0;
      }
    }
}

.light-side-nav {

  .search-form {
    // Style Placeholders
    ::placeholder {
      color: #1C2331 !important;
      }

    input[type=text] {
      border-bottom: 1px solid #1C2331;
      }

    .form-control {
      color: #1C2331;
      }
    }

  .logo-wrapper {
    height: 80px;

    a {
      height: 80px;
    }

    img {
      padding: 7% 50px;
      }
  }

  p {
    color: #1C2331;
  }

  .collapsible a {
    color: #1C2331;
  }

  .social {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
  }

  .navbar-form {
    margin: 10px;
  }
}

.dark-side-nav {
  background-color: $elegant-color-dark;

  .logo-wrapper {
    background: url("http://mdbootstrap.com/images/regular/nature/img%20(17).jpg") no-repeat center center;
    background-size: cover;
  }

  li {
    background-color: $elegant-color-dark;

    &:hover,
    &.active {
      background-color: $elegant-color;
    }
  }

  p {
    color: #fff;
  }

  .collapsible {

    a {
      color: #fff;
      margin: 0;

      &:active {
        background-color: $elegant-color;
        }

      &.active {
        background-color: $elegant-color;
        }
      }

    > li {
      padding: 0;
    }
  }

  .social {
    border-bottom: 1px solid $stylish-color;
    border-top: 1px solid $stylish-color;

    a {
      color: #fff;
    }
  }
}

.colorful-side-nav {
  background-color: $default-color-dark;

  .logo-wrapper {
    background: url("http://mdbootstrap.com/images/regular/nature/img%20(23).jpg") no-repeat center center;
    background-size: cover;
  }

  li {
    background-color: $default-color-dark;

    &:hover,
    &.active {
      background-color: lighten($default-color-dark, 5%);
    }
  }

  p {
    color: #fff;
  }

  .collapsible {

    a {
      color: #fff;
      margin: 0;

      &:active {
        background-color: lighten($default-color-dark, 5%);
        }

      &.active {
        background-color: lighten($default-color-dark, 5%);
        }
      }

    > li {
      padding: 0;
    }
  }

  .social {
    border-bottom: 1px solid #26a69a;
    border-top: 1px solid #26a69a;

    a {
      color: #fff;
    }
  }
}

.stylish-side-nav {
  background-color: $stylish-color-dark;

  .logo-wrapper {
    background: url("http://mdbootstrap.com/images/regular/nature/img%20(26).jpg") no-repeat center center;
    background-size: cover;
  }

  li {
    background-color: $stylish-color-dark;

    &:hover,
    &.active {
      background-color: $stylish-color;
    }
  }

  p {
    color: #fff;
  }

  .collapsible {

    a {
      color: #fff;
      margin: 0;

      &:active {
        background-color: $stylish-color;
        }

      &.active {
        background-color: $stylish-color;
        }
      }

    > li {
      padding: 0;
    }
  }

  .social {
    border-bottom: 1px solid $stylish-color;
    border-top: 1px solid $stylish-color;

    a {
      color: #fff;
    }
  }
}

.drag-target {
  height: 100%;
  position: fixed;
  top: 0;
  width: 10px;
  z-index: 998;
}


// Fixed sideNav hide on smaller
@media #{$medium-and-down} {
  .side-nav.fixed {
    transform: translateX(-105%);

    &.right-aligned {
      transform: translateX(105%);
    }
  }
}

#sidenav-overlay {
  background-color: rgba(0, 0, 0, .5);
  height: 120vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  will-change: opacity;
  z-index: 997;
}