.owl-carousel {
  .owl-item {
    .item {

      .circle.sale {
        top: 20px;
        }

      .circle.featured {
        background-color: $color-white;
        color: $color-default;
        }
      }
    }
  }

.owl-dots {
  margin-top: 5px;
  text-align: center;

  .owl-dot {
    @include opacity(.3);
    @include transit;
    display: inline-block;

    &.active {
      @include opacity(1);
      }

    span {
      @include border-radius(50%);
      background-color: $black;
      display: inline-block;
      height: 5px;
      margin: 3px 5px;
      width: 5px;
      }
    }
  }

.owl-nav {

  .owl-next,
  .owl-prev {
    @include opacity(.5);
    @include transit;
    &:before {
      @include elegant-font;
      font-size: 24px;
      }

    &:hover {
      @include opacity(.8);
      }
    }

  .owl-next {
    &:before {
      content: "\$";
      }
    }

  .owl-prev {
    &:before {
      content: "\#";
      }
    }
  }

[data-owl-dots="0"] {
  .owl-dots {
    display: none !important;
    }
  }

[data-owl-nav="0"] {
  .owl-nav {
    display: none !important;
    }
  }

[data-owl-dots="1"] {
  .owl-dots {
    display: block !important;
    }
  }

[data-owl-nav-container] {
  .owl-controls {
    display: none !important;
    }
  }

[data-owl-nav="1"] {
  .owl-nav {
    display: block !important;
    .owl-next, .owl-prev {
      display: inline-block !important;
      }
    }
  }