.page-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #page-header,
  #page-content,
  #page-footer {
    display: table-row;
    }
  #page-header,
  #page-footer {
    height: 1px;
    }
  #page-content {
    height: auto;
    overflow: hidden;
    position: relative;
    }

  @media (max-width : 767px) {
    .page-wrapper {
      display    : block;
      overflow-x : hidden;
      overflow   : visible;

      #page-header,
      #page-content,
      #page-footer {
        display : block;
        }

      #page-header,
      #page-footer {
        height : auto;
        }

      }
    }
  }
