doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
    style.
      html, body { overflow-x: hidden; }
  body.version-selector
    #page-top.page-wrapper
      #page-content
        .container
          .logo
            img(src='version-selector/logo.png' alt='')
          h1 Locations - Directory Listing HTML Template
          hr
          .versions
            .col-md-3.col-sm-3
              a.version(href='index-map-version-1.html')
                .image
                  img(src='version-selector/v1.png' alt='')
                .description
                  h3 Version 1
                  p Map - Full Screen & Sidebar
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
            .col-md-3.col-sm-3
              a.version(href='index-map-version-2.html')
                .image
                  img(src='version-selector/v2.png' alt='')
                .description
                  h3 Version 2
                  p Map - Horizontal Form
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
            .col-md-3.col-sm-3
              a.version(href='index-map-version-3.html')
                .image
                  img(src='version-selector/v3.png' alt='')
                .description
                  h3 Version 3
                  p Map - Full Screen Form in Sidebar
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
            .col-md-3.col-sm-3
              a.version(href='index-map-version-4.html')
                .image
                  img(src='version-selector/v4.png' alt='')
                .description
                  h3 Version 4
                  p Map - Form Under Map
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
            .col-md-3.col-sm-3
              a.version(href='index-hero-version-1.html')
                .image
                  img(src='version-selector/v5.png' alt='')
                .description
                  h3 Version 1
                  p Hero - One Input Form
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
            .col-md-3.col-sm-3
              a.version(href='index-hero-version-2.html')
                .image
                  img(src='version-selector/v6.png' alt='')
                .description
                  h3 Version 2
                  p Hero - Multiple Inputs
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
            .col-md-3.col-sm-3
              a.version(href='index-hero-version-3.html')
                .image
                  img(src='version-selector/v7.png' alt='')
                .description
                  h3 Version 3
                  p Hero - Form Under Hero
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
            .col-md-3.col-sm-3
              a.version(href='index-hero-version-4.html')
                .image
                  img(src='version-selector/v8.png' alt='')
                .description
                  h3 Version 4
                  p Hero - Background Slider
                  img(src='version-selector/arrow.png' alt='')
              // end version
            // end col-md-4
          // end version
          br
        // end container
      // end page-content
    // end page-wrapper
    // end outer-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
