extends common/layout

block append head
	style(rel='stylesheet').

		.description {
			padding-top: 25%;
			padding-bottom: 3rem;
			color: #ffffff
			}

		@media (max-width: 992px) {
			.description {
				padding-top: 7rem;
				text-align: center;
				}

			#app-mockup {
				max-height: 400px;
				}
			}


block append vars
	- var bodyClass = 'home'
block append content

	include sections/hero-section