extends common/layout

block append defaultTitle
  title Profile - uPages

block append content

  main#page-content
    .container
      section.section.section-intro
        h1.section-heading Manage your offers
        .row
          .col-md-4.mb-r
            .card.card-cascade.narrower
              .view.overlay.hm-white-slight
                img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(4).jpg', alt='')
                a
                  .mask
              .card-block.text-xs-center
                a.text-muted(href='')
                  h5 Category
                h4.card-title
                  strong
                    a(href='') Product name
                ul.rating
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star-o
                p.card-text
                  | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
                .card-footer
                  span.left 49$
                  span.right
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Add to Cart')
                      i.fa.fa-eye
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Share')
                      i.fa.fa-pencil
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Added to Wishlist')
                      i.fa.fa-remove
          .col-md-4.mb-r
            .card.card-cascade.narrower
              .view.overlay.hm-white-slight
                img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(3).jpg', alt='')
                a
                  .mask
              .card-block.text-xs-center
                a.text-muted(href='')
                  h5 Category
                h4.card-title
                  strong
                    a(href='') Product name
                ul.rating
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                p.card-text
                  | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
                .card-footer
                  span.left 89$
                  span.right
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Add to Cart')
                      i.fa.fa-eye
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Share')
                      i.fa.fa-pencil
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Added to Wishlist')
                      i.fa.fa-remove

          .col-md-4.mb-r
            .card.card-cascade.narrower
              .view.overlay.hm-white-slight
                img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(2).jpg', alt='')
                a
                  .mask
              .card-block.text-xs-center
                a.text-muted(href='')
                  h5 Category
                h4.card-title
                  strong
                    a(href='') Product name
                ul.rating
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star
                  li
                    i.fa.fa-star-half-o
                p.card-text
                  | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
                .card-footer
                  span.left 59$
                  span.right
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Add to Cart')
                      i.fa.fa-eye
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Share')
                      i.fa.fa-pencil
                    a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Added to Wishlist')
                      i.fa.fa-remove
