extends common/layout

block append defaultTitle
  title Profile - uPages

block append content

  main#page-content
    .container
      section.section.statistics
        h1.section-heading Ваша статистика
        .row
          .col-md-3
            .card.card-cascade.cascading-admin-card
              .admin-up
                i.fa.fa-money.blue.darken-3
                .data
                  p SALES
                  h3 2000$
              .card-block
                .progress
                  .progress-bar.bg-success(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                p.card-text Better than last week (25%)
          .col-md-3
            .card.card-cascade.cascading-admin-card
              .admin-up
                i.fa.fa-line-chart.deep-purple.darken-4
                .data
                  p SUBSCRIPTIONS
                  h3 200
              .card-block
                .progress
                  .progress-bar.bg-danger(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                p.card-text Worse than last week (25%)
          .col-md-3
            .card.card-cascade.cascading-admin-card
              .admin-up
                i.fa.fa-pie-chart.indigo
                .data
                  p TRAFFIC
                  h3 20000
              .card-block
                .progress
                  .progress-bar.bg-success(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                p.card-text Better than last week (75%)
          .col-md-3
            .card.card-cascade.cascading-admin-card
              .admin-up
                i.fa.fa-bar-chart.purple
                .data
                  p ORGANIC TRAFFIC
                  h3 2000
              .card-block
                .progress
                  .progress-bar.bg-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                p.card-text Better than last week (25%)

      section.section.listing-list
        h1.section-heading Manage your listing
        .card-group
          .card.card-cascade.narrower
            .view.overlay.hm-white-slight
              img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(4).jpg', alt='')
              a
                .mask
            .card-block.text-xs-center
              a.text-muted(href='')
                h5 Category
              h4.card-title
                strong
                  a(href='') Product name
              ul.rating
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star-o
              p.card-text
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
              .card-footer
                span.left 49$
                span.right
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Add to Cart')
                    i.fa.fa-eye
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Share')
                    i.fa.fa-pencil
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Added to Wishlist')
                    i.fa.fa-remove
          .card.card-cascade.narrower
            .view.overlay.hm-white-slight
              img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(3).jpg', alt='')
              a
                .mask
            .card-block.text-xs-center
              a.text-muted(href='')
                h5 Category
              h4.card-title
                strong
                  a(href='') Product name
              ul.rating
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
              p.card-text
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
              .card-footer
                span.left 89$
                span.right
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Add to Cart')
                    i.fa.fa-eye
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Share')
                    i.fa.fa-pencil
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Added to Wishlist')
                    i.fa.fa-remove

          .card.card-cascade.narrower
            .view.overlay.hm-white-slight
              img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(2).jpg', alt='')
              a
                .mask
            .card-block.text-xs-center
              a.text-muted(href='')
                h5 Category
              h4.card-title
                strong
                  a(href='') Product name
              ul.rating
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star-half-o
              p.card-text
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
              .card-footer
                span.left 59$
                span.right
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Add to Cart')
                    i.fa.fa-eye
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Share')
                    i.fa.fa-pencil
                  a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Added to Wishlist')
                    i.fa.fa-remove
