footer#page-footer
	.footer-wrapper
		.block
			.container
				.vertical-aligned-elements
					.element.width-50
						p(data-toggle='modal' data-target='#myModal')
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum.
							a(href='#') Terms of Use
							|  and
							a(href='#') Privacy Policy
							| .
					.element.width-50.text-align-right
						a.circle-icon(href='#')
							i.social_twitter
						a.circle-icon(href='#')
							i.social_facebook
						a.circle-icon(href='#')
							i.social_youtube
		.footer-navigation
			.container
				.vertical-aligned-elements
					.element.width-50 (C) 2016 Your Company, All right reserved
					.element.width-50.text-align-right
						a(href='index.html') Home
						a(href='listing-grid-right-sidebar.html') Listings
						a(href='submit.html') Submit Item
						a(href='contact.html') Contact