mixin navbar-item
  li.nav-item.active
    +link('/index.html','Home')(class="nav-link")
  li.nav-item
    +link('/map.html','Map')(class="nav-link")
  li.nav-item
    +link('/blog.html','Blog')(class="nav-link page-loader-ignore")
  li.nav-item
    +link('/register.html','Register')(class="nav-link page-loader-ignore")
  li.nav-item
    +link('/sign-in.html','Sign In')(class="nav-link page-loader-ignore")


header#page-header
  include off-canvas
  nav#page-navbar.navbar.fixed-top.navbar-toggleable-sm.warning-color-dark.navbar-light.zindex-sm.double-nav
    button.navbar-toggler.show(data-toggle='off-canvas' aria-expanded="false" aria-controls="slide-out")
      span.navbar-toggler-icon
    a.navbar-brand.mr-auto(href='#')
      img.d-inline-block.align-top(src=require('assets/img/logo.png'))

    ul.navbar-nav.ml-auto.hidden-sm-down
      li.nav-item.active
        +link('/index.html','Home')(class="nav-link")
      li.nav-item
        +link('/map.html','Map')(class="nav-link")
      li.nav-item
        +link('/blog.html','Blog')(class="nav-link page-loader-ignore")
      li.nav-item
        +link('/register.html','Register')(class="nav-link page-loader-ignore")
      li.nav-item
        +link('/sign-in.html','Sign In')(class="nav-link page-loader-ignore")

    ul.nav.navbar-nav.ml-auto.flex-row.hidden-md-up
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | MENU
        .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
          +link('/index.html','Home')(class="nav-link dropdown-item")
          +link('/map.html','Map')(class="nav-link dropdown-item")
          +link('/blog.html','Blog')(class="dropdown-item page-loader-ignore")
          +link('/register.html','Register')(class="dropdown-item page-loader-ignore")
          +link('/sign-in.html','Sign In')(class="dropdown-item page-loader-ignore")
