header
	nav.navbar.navbar-dark.fixed-top.navbar-toggleable-md.warning-color-dark.zindex-sm
		.container
			button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			a.navbar-brand(href='#')
				img.d-inline-block.align-top(src=require('assets/img/logo.png'))
			.collapse.navbar-collapse#navbarNav
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link.black-text(href='/') Home
					li.nav-item
						a.nav-link.black-text(href='map.html') Map
					li.nav-item
						a.nav-link.black-text(href='blog.html') Blog
					li.nav-item
						a.nav-link.black-text(href='contact.html') Contact
				ul.nav.navbar-nav.nav-flex-icons
					li.nav-item
						a.nav-link.waves-effect.waves-light
							i.fa.fa-facebook
					li.nav-item
						a.nav-link.waves-effect.waves-light
							i.fa.fa-twitter
					li.nav-item
						a.nav-link.waves-effect.waves-light
							i.fa.fa-instagram
