header#page-header.fixed-top.zindex-sm
  include off-canvas
  nav#page-navbar.navbar.navbar-toggleable-sm.warning-color-dark.navbar-light.double-nav
    button.navbar-toggler.show(data-toggle='off-canvas' aria-expanded="false" aria-controls="slide-out")
      span.navbar-toggler-icon
    a.navbar-brand.mr-auto(href='#')
      img.d-inline-block.align-top(src=require('assets/img/logo.png'))

    ul.navbar-nav.ml-auto.hidden-sm-down
      li.nav-item.active
        +link('/index.html','Home')(class="nav-link")
      li.nav-item
        +link('/map.html','Map')(class="nav-link")
      li.nav-item
        +link('/profile.html','Profile')(class="nav-link")
      li.nav-item
        +link('/blog.html','Blog')(class="nav-link")
      li.nav-item
        +link('/register.html','Register')(class="nav-link")
      li.nav-item
        +link('/sign-in.html','Sign In')(class="nav-link")

    ul.nav.navbar-nav.ml-auto.flex-row.hidden-md-up
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | MENU
        .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
          +link('/index.html','Home')(class="nav-link dropdown-item")
          +link('/map.html','Map')(class="nav-link dropdown-item")
          +link('/profile.html','Profile')(class="nav-link dropdown-item")
          +link('/blog.html','Blog')(class="nav-link dropdown-item")
          +link('/register.html','Register')(class="nav-link dropdown-item")
          +link('/sign-in.html','Sign In')(class="nav-link dropdown-item")
