header#page-header
	nav
		.left
			a.brand(href='index.html')
				img(src='assets/img/logo.png' alt='')
		// end left
		.right
			.primary-nav.has-mega-menu
				ul.navigation
					li.active.has-child
						a(href='#nav-homepages') Home
						.wrapper
							#nav-homepages.nav-wrapper
								ul
									li
										a(href='index-map-version-1.html') Map Full Screen Sidebar Results
									li
										a(href='index-map-version-2.html') Map Horizontal Form
									li
										a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
									li
										a(href='index-map-version-4.html') Map Form Under
									li
										a(href='index-hero-version-1.html') Hero One Input Form
									li
										a(href='index-hero-version-2.html') Hero Multiple Inputs
									li
										a(href='index-hero-version-3.html') Hero Form Under
									li
										a(href='index-hero-version-4.html') Hero Full Screen Slider
					li.has-child
						a(href='#nav-listing') Listing
						.wrapper
							#nav-listing.nav-wrapper
								ul
									li.has-child
										a(href='#nav-grid-listing') Grid Listing
										#nav-grid-listing.nav-wrapper
											ul
												li
													a(href='listing-grid-right-sidebar.html') With Right Sidebar
												li
													a(href='listing-grid-left-sidebar.html') With Left Sidebar
												li
													a(href='listing-grid-full-width.html') Full Width
												li
													a(href='listing-grid-different-widths.html') Different Widths
												li
													a(href='listing-grid-3-items.html') 3 Items in Row
												li
													a(href='listing-grid-4-items.html') 4 Items in Row
									li.has-child
										a(href='#nav-row-listing') Row Listing
										#nav-row-listing.nav-wrapper
											ul
												li
													a(href='listing-row-right-sidebar.html') Row Right Sidebar
												li
													a(href='listing-row-left-sidebar.html') Row Left Sidebar
					li.mega-menu-parent.has-child
						a(href='#nav-pages') Pages
						.wrapper
							.mega-menu
								#nav-pages.nav-wrapper
									.container
										.row
											.col-md-3.col-sm-3
												h4.heading General
												ul
													li
														a(href='faq.html') Faq
													li
														a(href='pricing.html') Pricing
													li
														a(href='submit.html') Submit Listing
													li
														a(href='detail.html') Listing Detail
													li
														a(href='detail-2.html') Listing Detail v2
											// end col-md-3
											.col-md-3.col-sm-3
												h4.heading User
												ul
													li
														a(href='profile.html') Profile Edit
													li
														a(href='sign-in.html') Sign In
													li
														a(href='register.html') Register
													li
														a(href='reset-password.html') Reset Password
													li
														a(href='my-listings.html') My Listings
													li
														a(href='edit-listing.html') Edit Listing
													li
														a(href='reviews.html') Reviews
											// end col-md-3
											.col-md-3.col-sm-3
												h4.heading Other
												ul
													li
														a(href='elements.html') Elements / Shortcodes
													li
														a(href='404.html') 404 Error Page
													li
														a(href='sticky-footer.html') Sticky Footer
													li
														a(href='terms-and-conditions.html') Terms & Conditions
													li
														a(href='grid-system.html') Grid System
											// end col-md-3
											.col-md-3.col-sm-3
												.image.center.overlay
													.vertical-aligned-elements
														.element
															a.btn.btn-default.btn-framed(href='#') Submit Your Listing
													.bg-transfer
														img(src='assets/img/items/10.jpg' alt='')
											// end col-md-3
										// end row
									// end container
								// end collapse
							// end wrapper
						// end mega-menu
					li.has-child
						a(href='#nav-locations') Locations
						.wrapper
							#nav-locations.nav-wrapper
								ul
									li.has-child
										a(href='#nav-locations-new-york') New York
										#nav-locations-new-york.nav-wrapper
											ul
												li.has-child
													a(href='#nav-4') Manhattan
													#nav-4.nav-wrapper
														ul
															li
																a(href='#') 1
															li
																a(href='#') 2
															li
																a(href='#') 3
															li
																a(href='#') 4
												li
													a(href='#') Brooklyn
												li
													a(href='#') Staten Island
									li.has-child
										a(href='#nav-5') London
										#nav-5.nav-wrapper
											ul
												li
													a(href='#') Abbey Wood
												li
													a(href='#') Bayswater
												li
													a(href='#') Forestdale
									li.has-child
										a(href='#nav-6') Paris
										#nav-6.nav-wrapper
											ul
												li
													a(href='#') Louvre
												li
													a(href='#') Bourse
												li
													a(href='#') Marais
							// end nav-wrapper
						// end wrapper
					li
						a(href='blog.html') Blog
					li
						a(href='contact.html') Contact
				// end navigation
			// end primary-nav
			.secondary-nav
				a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
				a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
			// end secondary-nav
			a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
				i.fa.fa-plus
				span Add listing
			.nav-btn
				i
				i
				i
			// end nav-btn
		// end right
