include mixins

doctype html
html(lang=htmlWebpackPlugin.options.lang, manifest=htmlWebpackPlugin.files.manifest class='h-100')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		block defaultHead
			+mobile
			+title
			+favicon
			+injectExtrasHead
			+CSS

		block head
	block vars
		- var bodyClass = ''
	body(class=bodyClass)
		include header
		block content
		include footer
		block defaultBody
			+injectExtrasBody
			+JS

		block scripts