.off-canvas
  input#off_canvas(type='checkbox')
  .cstm-shade
    .cstm-navi
      .cstm-navi-content
        ul.nav.nav-pills.nav-stacked
          li.active(role='presentation')
            a(href='#')
              span.glyphicon.glyphicon-home
              |  Home
          li(role='presentation')
            a(href='#')
              span.glyphicon.glyphicon-heart
              |  Favourites
          li(role='presentation')
            a(href='#')
              span.glyphicon.glyphicon-user
              |  Profile
          li(role='presentation')
            a(href='#')
              span.glyphicon.glyphicon-cog
              |  Account Settings
          li(role='presentation')
            a(href='#')
              span.glyphicon.glyphicon-off
              |  Logout
