@import "../variables";

.answer {
  margin-bottom: 50px;
  .box {
    padding-top: 40px;
    position: relative;
    &:after {
      @include shadow;
      @include border-radius(100%);
      content: "?";
      color: $color-white;
      font-weight: bold;
      background-color: $color-default;
      height: 30px;
      width: 30px;
      line-height: 28px;
      text-align: center;
      position: absolute;
      font-size: 16px;
      top: -15px;
      }
    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 4px 0 4px;
      border-color: $color-default transparent transparent transparent;
      content: "";
      position: absolute;
      left: 31px;
      top: 11px;
      }
    }
  h3 {
    margin-bottom: 10px;
    }
  figure {
    @include opacity(.5);
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    a {
      margin-left: 10px;
      color: inherit;
      }
    i {
      font-size: 10px;
      margin-left: 5px;
      }
    }
  }

.blog-post {
  border-bottom: 1px solid rgba($black, .1);
  margin-bottom: 60px;
  padding-bottom: 30px;
  iframe {
    margin-bottom: 20px;
    }
  img {
    max-width: 100%;
    }
  header {
    h2 {
      border: none;
      font-size: 36px;
      margin: 20px 0;
      padding-bottom: 0;
      }
    }
  p {
    margin-bottom: 20px;
    }
  ul {
    padding-left: 25px;
    }
  .meta {
    display: table;
    width: 100%;
    margin: 20px 0;
    a {
      color: $color-grey-dark;
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
        }
      i {
        color: rgba($black, .4);
        }
      }
    .tags {
      display: inline-block;
      float: right;
      .tag {
        @include border-radius(3px);
        @include shadow;
        background-color: $color-white;
        font-size: 12px;
        margin: 0 3px;
        padding: 5px;
        }
      }
    }
  }

.breadcrumb {
  padding: 10px 0px;
  margin-bottom: 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  }

.categories-list {
  .list-item {
    margin-bottom: 60px;
    .title {
      margin-bottom: 10px;
      .icon {
        @include border-radius(50%);
        display: inline-block;
        background-color: $color-default;
        color: $color-white;
        text-align: center;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        i {
          font-size: 14px;
          line-height: 38px;
          }
        }
      h3 {
        display: inline-block;
        font-size: 18px;
        font-weight: normal;
        vertical-align: middle;
        }
      }
    ul {
      list-style: none;
      padding-left: 52px;
      li {
        a {
          @include opacity(.6);
          color: $color-black;
          display: inline-block;
          padding: 2px 0;
          &:hover {
            @include opacity(1);
            }
          }
        .count {
          @include opacity(.8);
          display: inline-block;
          font-size: 10px;
          float: right;
          top: 7px;
          position: relative;
          }
        }
      }
    }
  }

.circle-icon {
  @include border-radius(50%);
  border: 2px solid rgba($black, .1);
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 31px;
  margin-left: 1px;
  margin-right: 1px;
  color: rgba($black, .4);
  &:hover, &.active {
    border: 2px solid rgba($black, .2);
    color: $color-default;
    }
  }

.comments {
  list-style: none;
  padding-left: 0;
  .comment {
    display: table;
    margin-bottom: 20px;
    padding-left: 80px;
    position: relative;
    figure {
      left: 0;
      position: absolute;
      top: 0;
      .image {
        background-color: $color-grey-dark;
        height: 70px;
        position: relative;
        overflow: hidden;
        width: 60px;
        &:after {
          bottom: 0px;
          content: "";
          height: 0px;
          border-style: solid;
          border-width: 10px 0 0 10px;
          border-color: transparent transparent transparent $color-white;
          position: absolute;
          right: 0;
          width: 0px;
          }
        &:before {
          background-color: $color-white;
          bottom: 0;
          content: "";
          height: 10px;
          left: 0;
          width: calc(100% - 10px);
          position: absolute;
          }
        img {
          height: 100%;
          }
        }
      }
    .date {
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 5px;
      .fa {
        color: #b8b8b8;
        font-size: 10px;
        margin-right: 10px;
        }
      }
    .name {
      display: table;
      font-size: 18px;
      width: 100%;
      }
    .reply {
      color: $color-grey-dark;
      .fa {
        color: $color-default;
        margin-right: 10px;
        }
      }
    }
  }

.count-down {
  .countdown-row {
    .countdown-section {
      display: inline-block;
      margin-right: 20px;
      }
    .countdown-amount {
      font-weight: bold;
      display: block;
      position: relative;
      }
    .countdown-period {
      @include opacity(.7);
      font-size: 12px;
      text-transform: uppercase;
      }
    }
  }

.controls-more {
  bottom: 0;
  cursor: pointer;
  font-size: 18px;
  height: 27px;
  margin: auto;
  padding: 1px 5px;
  position: absolute;
  right: 15px;
  top: 0;

  &.show {

    ul {
      visibility: visible;
      @include opacity(1);
      @include transform(translateY(0));
      }
    }

  ul {
    @include opacity(0);
    @include transit;
    @include transform(translateY(5px));
    background-color: $color-white;
    @include shadow;
    bottom: 25px;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    position: absolute;
    right: 8px;
    text-align: right;
    visibility: hidden;

    li {
      border-bottom: 1px solid rgba($black, .1);

      &:last-child {
        border-bottom: none;

        a {

          &:after {
            @include transit;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 11px 11px 0;
            border-color: transparent $color-white transparent transparent;
            content: "";
            position: absolute;
            right: 0px;
            bottom: -10px;
            height: 11px;
            width: 11px;
            }
          &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 14px 0;
            border-color: transparent rgba($black, .05) transparent transparent;
            content: "";
            position: absolute;
            right: -2px;
            bottom: -14px;
            height: 11px;
            width: 11px;
            }
          &:hover {
            &:after {
              border-color: transparent #e8e8e8 transparent transparent;
              }
            }
          }
        }

      a {
        color: $color-grey-dark;
        display: block;
        padding: 7px 10px;
        white-space: nowrap;

        &:hover {
          background-color: #e8e8e8;
          }
        }
      }
    }

  &:hover {
    &:after {
      @include opacity(1);
      color: $color-default;
      }

    }

  &:after {
    @include opacity(.3);
    @include transit;
    @include font-awesome;
    content: "\f142";
    color: $black;
    }
  }

.container {
  &.full-width {
    width: 100%;
    }
  }

.detail-sidebar {
  .content {
    background-color: $color-grey-light;
    padding: 20px;
    }

  address {
    figure {
      margin-left: 30px;
      }
    }
  }

.duplicated-element {
  @include transit;
  height: 0;
  }

.featured-contact {
  padding-left: 50px;
  position: relative;

  i {
    @include opacity(.3);
    bottom: 0;
    font-size: 36px;
    height: 36px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    }

  h4 {
    @include opacity(.6);
    font-size: 14px;
    margin: 0;
    }

  h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 3px;
    }
  }

.gallery {
  &.featured {
    .item {
      margin-left: 10px;

      .controls {
        &:hover {
          &:after {
            @include opacity(1);
            color: $color-white;
            }
          }

        &:after {
          @include opacity(.3);
          @include transit;
          @include font-awesome;
          color: $color-white;
          content: "\f142";
          }
        }
      }
    }

  &.detail {
    .image {
      width: 550px;
      height: 360px;
      }
    }

  .item {
    width: 260px;
    }

  .owl-stage {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
  }

#gallery-nav {
  display: inline-block;
  height: 27px;
  margin-left: 15px;
  position: relative;
  vertical-align: middle;
  width: 75px;

  .owl-next,
  .owl-prev {
    cursor: pointer;
    display: inline-block !important;
    margin-left: 2px;
    position: absolute;
    top: 0;

    &:after {
      @include elegant-font;
      @include border-radius(50%);
      border: 2px solid rgba(#fff, 1);
      font-size: 24px;
      padding: 3px 4px;
      }
    }

  .owl-next {
    right: 0;

    &:after {
      content: "5";
      }
    }

  .owl-prev {
    right: 40px;

    &:after {
      content: "4";
      }
    }
  }

.list-descriptive {
  list-style: none;
  padding-right: 0;

  &.icon {
    li {
      margin-bottom: 15px;
      position: relative;

      i {
        border: 2px solid rgba($black, .1);
        border-radius: 100%;
        color: $color-default;
        font-size: 10px;
        height: 25px;
        left: 0;
        line-height: 11px;
        padding: 5px 6px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 25px;
        }

      .description {
        padding-left: 35px;
        }
      }
    }
  }

.list-schedule {
  display: table;
  height: 100%;
  width: 100%;

  li {
    margin-bottom: 15px;
    }

  .left {
    float: left;
    text-align: left;
    }

  .right {
    float: right;
    text-align: right;
    }

  .promoted {
    color: $color-default;
    }

  figure {
    @include opacity(.8);
    font-size: 12px;
    }
  }

.panel-group {
  .panel {
    @include border-radius(0);
    border: 2px solid rgba($black, .1);
    }

  .panel-heading {
    @include transit;
    background-color: transparent;
    padding: 0;

    &:hover {
      background-color: rgba($black, .03);
      }

    .panel-title {
      font-size: 14px;
      font-weight: bold;

      a {
        display: block;
        padding: 15px;
        position: relative;

        &:after {
          @include elegant-font;
          bottom: 0;
          font-size: 18px;
          height: 18px;
          margin: auto;
          position: absolute;
          right: 15px;
          top: 0;
          }

        &[aria-expanded="false"] {
          &:after {
            content: "L";
            }
          }

        &[aria-expanded="true"] {

          &:after {
            content: "K";
            }
          }

        i {
          @include opacity(.3);
          margin-right: 8px;
          }
        }
      }
    }
  }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
  }

.label {
  @include shadow;
  font-size: 9px;
  font-weight: 800;
  text-transform: uppercase;

  &.label-default {
    background-color: $color-default;
    }

  &.label-info {
    background-color: $color-white;
    }
  }

.logos {
  display: table;
  width: 100%;

  .logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    a {
      @include opacity(.5);

      &:hover {
        @include opacity(1);
        }
      }
    }
  }

.section-title {
  margin-bottom: 50px;
  margin-top: 5px;

  h2 {
    margin-top: 0;
    }
  }

.page-title {
  display: table;
  height: auto;
  margin-bottom: 40px;
  margin-top: 5px;
  width: 100%;

  h3 {
    @include opacity(.6);
    color: inherit;
    }

  &.error {
    h1 {
      font-size: 200px;
      }
    }

  &.pull-left,
  &.pull-right {
    width: auto;
    }
  }

.post-author {
  border: 2px solid rgba($black, .1);
  display: table;
  margin-bottom: 60px;
  padding: 20px;
  position: relative;
  width: 100%;

  img {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    }

  header {
    color: $color-grey-dark;
    margin-bottom: 10px;
    }

  .wrapper {
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
    }
  }

.subpage-detail {
  #gallery-nav {
    position: absolute;
    right: 15px;
    top: -25px;

    .owl-next,
    .owl-prev {
      &:after {
        @include border-radius(0);
        background-color: $color-default;
        border: 0;
        color: $color-white;
        padding: 4px;
        }
      }

    .owl-prev {
      right: 32px;
      }
    }
  }

.tags {
  list-style: none;
  padding-left: 0;

  li {
    @include shadow;
    @include transit;
    background-color: $color-grey-light;
    color: rgba($black, .8);
    display: inline-block;
    font-size: 10px;
    font-weight: 800;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    text-transform: uppercase;

    &:before {
      @include transit;
      @include font-awesome;
      color: $color-default;
      content: "\f00c";
      margin-right: 3px;
      }
    }
  }

.text-element {
  margin-bottom: 30px;
  position: relative;

  &.event {
    padding-left: 70px;
    padding-top: 10px;

    .date-icon {
      @include border-radius(3px);
      border: 2px solid rgba($black, .1);
      left: 0;
      padding: 5px 3px 4px 3px;
      position: absolute;
      text-align: center;
      width: 50px;

      &:before {
        background-image: url("../../assets/img/calendar-spring.png");
        content: "";
        height: 6px;
        left: 4px;
        position: absolute;
        top: -3px;
        width: 37px;
        }

      .day {
        @include opacity(.6);
        font-size: 20px;
        margin-bottom: -3px;
        }

      .month {
        @include opacity(.6);
        font-size: 12px;
        text-transform: uppercase;
        }
      }
    }

  a.link {
    color: $color-grey-dark;
    }

  .date {
    @include opacity(.5);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 12px;

    i {
      margin-right: 8px;
      }
    }
  }

.video {
  iframe {
    height: 100%;
    width: 100%;
    }
  }
