@import "../variables";

@include keyframe(pulse) {
  0% {
    @include transform(scale(.8));
    @include opacity(0);
    }
  10% {
    @include opacity(1);
    }
  100% {
    @include transform(scale(2));
    @include opacity(0);
    }
  }

.infobox-wrapper {
  @include transition(0.5s cubic-bezier(0, .28, .45, 1.01));
  @include opacity(0);
  &.show {
    @include opacity(1);
    > img {
      @include transform(scale(1));
      }
    .infobox {
      > a {
        @include transform(translateY(0px));
        }
      .rating-passive {
        @include opacity(1);
        @include transform(translateX(0px));
        @include transition-delay(.2s);
        }
      .description {
        @include opacity(1);
        @include transform(translateX(0px));
        @include transition-delay(.1s);
        }
      }
    }
  > img {
    @include transit;
    @include transform(scale(0));
    position: absolute !important;
    z-index: 1;
    right: -15px;
    top: -15px;
    }
  .infobox {
    width: 270px;
    .description {
      @include transition(0.5s cubic-bezier(0, .28, .45, 1.01));
      @include opacity(0);
      @include transform(translateX(-10px));
      z-index: 1;
      bottom: 40px;
      padding-right: 20px;
      h3 {
        font-size: 18px;
        }
      h4 {
        font-size: 12px;
        }
      }
    .rating-passive {
      @include transition(0.5s cubic-bezier(0, .28, .45, 1.01));
      @include opacity(0);
      @include transform(translateX(-10px));
      position: absolute;
      bottom: 15px;
      left: 20px;
      padding: 0;
      background-color: transparent;
      color: #ffffff;
      display: inline-block;
      .stars {
        margin-right: 2px;
        figure {
          color: #ffffff;
          }
        }
      }
    > a {
      @include border-radius(4px);
      @include box-shadow(0px 3px 15px rgba(0, 0, 0, 0.33));
      @include transition(0.5s cubic-bezier(0, .28, .45, 1.01));
      @include transform(translateY(15px));
      @include transform-style(preserve-3d);
      .image {
        background-position: 50% 50%;
        background-size: cover;
        &:after {
          @include opacity(.7);
          background-color: transparent;
          }
        }
      }
    .controls-more {
      right: 15px;
      top: inherit;
      bottom: 10px;
      &:hover {
        &:after {
          @include opacity(1);
          color: #ffffff;
          }
        }
      &:after {
        @include opacity(.6);
        color: #ffffff;
        }
      }
    }
  }
