@import "../variables";

.nav-pills {

  > li {

    > a {
      @include opacity(.9);
      display: inline-block;
      font-weight: bold;
      font-size: 11px;
      color: $color-grey-dark;
      margin: 0;
      border: 2px solid rgba(#000, 0);
      padding: 10px;
      }

    &.active {
      > a {
        &, &:focus, &:hover {
          @include transform-style(preserve-3d);
          @include opacity(1);
          color: $color-default;
          border: 2px solid rgba(#000, .2);
          background-color: transparent;
          }
        }
      }

    }

  }
